<app-playlists></app-playlists>
<div>
  <h1>
  
  </h1>
  <button (click)="followArtist()">Follow</button>
</div>

<div *ngIf="tracks">
  <li *ngFor="let track of tracks" >
    {{track.name}} 
    <button (click)="playTrack(track.preview_url)">Play</button>
    <button mat-button [matMenuTriggerFor]="menu">V</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="deleteTrack(track.uri)">Delete playlist</button>
    </mat-menu>   
  </li>
</div>

<div *ngIf="albums">
  <app-album-details *ngFor="let album of albums" [album]="album">
  </app-album-details>
</div>


<a [routerLink]="['/playlists']">Playlists</a>