<app-header></app-header>
<div class="row">
  <div class="col-2">
    <span *ngIf="playlist?.images[0]">
      <img [src]="playlist?.images[0].url" class="img-thumbnail small-pic">
    </span>
  </div>
  <div class="col-8" >
    <h2>{{ playlist?.name | uppercase }}</h2>
    <p *ngIf="playlist?.description">{{playlist.description}}</p>
  </div>
</div>

<table class="table table-hover table-sm" *ngIf="tracks">
    <tbody>
      <tr *ngFor="let track of tracks.items">
        <td colspan="4">{{track.track.name}}</td>
        <td colspan="2">
          <span *ngFor="let artist of  track.track.artists" >
            <a [routerLink]="['/artists', artist.id]"> {{artist.name | replaceAmp: 'y'}}, </a>
          </span>
        </td>
        <td colspan="2"><a [routerLink]="['/albums', track.track.album.id]">{{track.track.album.name}}</a></td>
        <td colspan="2">{{track.track.duration_ms | date:'mm:ss'}}</td>
        <td colspan="2"><button (click)="playTrack(track.track.preview_url)">Play</button></td>
        <td> 
          <button mat-button [matMenuTriggerFor]="menu">+</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteTrack(track.track)">Delete from playlist</button>
          </mat-menu>  
        </td>
      </tr>
    </tbody>
</table>


  