<div *ngIf="playlist">
  
    <h2>{{ playlist.name | uppercase }} Details</h2>
    <div>
      <label>name:
        {{playlist.name}}
      </label>
    </div>
    <div *ngIf="tracks">
      <li *ngFor="let track of tracks" >
        {{track.track.name}} 
        <span *ngFor="let artist of  track.track.artists" >
            <a [routerLink]="['/artists', artist.id]">Artist</a>
        </span>
        <a [routerLink]="['/albums', track.track.album.id]">Album</a>
        <button (click)="playTrack(track.track.preview_url)">Play</button>
        <button mat-button [matMenuTriggerFor]="menu">V</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteTrack(track.track.uri)">Delete playlist</button>
        </mat-menu>   
      </li>
    </div>
  </div>
  